.ant-input-affix-wrapper {
    height: 50px;
}

.ant-input-search {
    border-radius: 10px;
}

.searchbox {
    margin: 0rem .8rem 0rem .8rem;
}

.ant-input-search-button {
    border: none !important;
    margin-right: 10px !important;
}

.ant-input-group-addon {
    border: none !important;
    background-color: white !important;
}