.ant-btn-primary{
    background-color: rgba(190, 159, 17, 0.815) !important;
    border: none !important;
    width: 100px;
    height: 40px !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold !important;
    border-radius: 5px !important;
}